@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..700&display=swap');

* {
	font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--p-grayscale-900);
  margin: 0;
  padding: 0;
}